.message-container{
  display: flex;
  flex-flow: column nowrap;
  margin: 5px 0;
  padding: 5px;
  font-family: 'Roboto';
  min-height: min-content;
}

.message-id{
  font-size: .9em;
  color: grey;
}

.message{
}